body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(72deg, #bbf3f9 1% ,#ffffff 99%) ;
}

body {
    margin: 0;
    padding: 0;
}

 /* footer */
 footer {
    background-color: rgba(109, 101, 101, 0.993);
    padding-top: 5rem;
    padding-bottom: 40px;
    border-top: 5px solid #3381f3;
}
 footer h2, footer p, span footer a, footer {
    color: #d1d1d1;
 }

footer h2 {
    font-weight: 400;
}

footer a {
    text-decoration: none;   
}
footer ul {
    padding: 0;
}

footer li {
list-style: none;
}
